.container
  max-width: 1256px
  width: 90%
  margin: auto
.container
  &--wide
    max-width: 1270px
    width: 98%
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-30
    flex-basis: 32%
  &-40
    width: 45%
  &-50
    width: 55%
.steps
  &__col
    &-40
      width: 35%
.team
  &__row
    justify-content: space-evenly
  &__col-30
    flex-basis: 20%