@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__title
      max-width: 33rem
@media screen and ( min-width: 1200px )
  .hero
    background-size: 100% 86%
    background-position: 35px 83px
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 2.85rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .card
    &__text
      margin-left: 0
    &--primary
      margin-bottom: 4.29rem
    &--transparent
      background: none
    &__list
      &--project
        .card
          &__item:nth-child(n+8)
            display: none
          &__item:nth-child(7)::after
            content: ' ...'
  .project
    background-color: $dark-mobile
  .section-title
    &__heading, &__text
      &--light
        color: $light
  .scroll
    display: none
@media screen and ( max-width: 578px )
  .header
    padding: 21px 0
    &__container
      width: 90%
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.8rem
    &--primary
      letter-spacing: 0.7px
  .hero
    &__content
      padding-bottom: 0
      margin: auto
    &__title
      max-width: 22.86rem
      margin-bottom: 1.3rem
      line-height: 1.4
      letter-spacing: 1px
    &__text
      font-size: 1.5rem
      line-height: 2.05rem
      margin-bottom: 2.8rem
    &__button
      display: block
      font-size: 1rem
      letter-spacing: 0.6px
      min-width: 22.86rem
      margin-bottom: 1.85rem
      &--primary
        margin-bottom: 2.4rem
        width: 100%
      &--outline
        width: 100%
  .section-title
    &__heading
      font-size: 1.8rem
      letter-spacing: 0.3px
    &__text
      max-width: 25.5rem
      font-size: 1.25rem
      line-height: 1.7rem
      margin-top: 1.5rem
      margin-bottom: 3.2rem
  .types
    &__section-title
      margin-bottom: 3.5rem
  .card
    &--primary
      max-width: 28.5rem
      margin-bottom: 6.4rem
    &--project
      max-width: 32rem
      margin-bottom: 6.4rem
      margin-left: auto
      margin-right: auto
    &__text
      margin-top: -12.3rem
      padding: 1.8rem 2rem 3.57rem 2.7rem
      max-width: 22.6rem
      &--project
        margin-top: -11.9rem
    &__title
      font-size: 1.25rem
    &__list
      line-height: 1.9rem
    &__price-tag
      bottom: -1.5rem
      padding: 1rem 2.7rem
      &--project
        padding: 1rem 3.8rem
    &--transparent
      background-color: rgba($dark, 0)
  .modal
    &__dialog
      width: 90%
    &__policy
      margin-bottom: 1.5rem
    &__button
      padding: 14px 35px
@media screen and ( max-width: 400px )
  .hero
    &__content
      margin-left: 0
    &__text
      max-width: 26.5rem
    &__button
      &--primary
        max-width: 28.05rem
      &--outline
        max-width: 28.05rem
  .policy
    &__label
      letter-spacing: 0
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  .modal
    &__dialog
      max-height: 95%
      padding: 1.5rem 2rem
    &__close
      margin: 5px
    &__title
      width: 90%
    &__input
      margin-bottom: 2.5rem
@media screen and ( max-height: 430px )
  .modal
    &__title
      margin-bottom: 1.5rem
    &__input
      margin-bottom: 1.8rem
    &__policy
      margin-bottom: 1.5rem
@media screen and ( max-height: 380px )
  .modal
    &__title
      font-size: 1.2rem
      margin-bottom: 1rem
    &__input
      font-size: 1.1rem
    &__button
      padding: 10px 25px
@media screen and ( max-height: 350px )
  .modal
    &__dialog
      padding: 1.3rem 2rem
    &__input
      margin-bottom: 1rem
    &__policy
      margin-bottom: 1.1rem
    &__button
      padding: 8px 20px
//псевдоклассы и псевдоэлементы
@media screen and ( min-width: 992px )
  .phone
    transition: color 0.2s
    &:hover
      color: $light
  .button
    &:hover
      cursor: pointer
    &--primary
      transition: box-shadow 0.3s
      &::after
        content: ''
        display: block
        height: 1px
        background-color: $light
        transition: 0.3s
        width: 0%
      &:hover
        box-shadow: none
        &::after
          width: 100%
      &:active
        background-color: rgba($dark, 0.8)
        padding: 10px 23px
        border: 1px solid $light
    &--outline
      transition: background-color 0.2s
      &::after
        content: ''
        display: block
        height: 1px
        background-color: $light
        transition: 0.3s
        width: 0%
      &:hover
        background-color: $primary
        &::after
          width: 100%
      &:active
        padding: 17px 45px
        background-color: rgba($dark, 0.8)
  .hero
    &__button
      &--primary
        &:active
          background-color: rgba($dark, 0.8)
          padding: 17px 27px
  .scroll
    &:hover
      border: 2px solid $primary
    &:active
      border: 2px solid $light